<!DOCTYPE html>
<html lang="zh-tw">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <link href='http://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>

    <script src="~/Scripts/main.js"></script>
    <script src="http://use.edgefonts.net/poiret-one.js"></script>
</head>
<body>
    <div>
        <div class="nulogo container"></div>
        <div class="container">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" style=" padding-top: 20px; ">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse " sid="myNavbar">
                        <ul class="nav navbar-nav navbar-right dot">
                            <li class="nat">@Html.ActionLink("作品集", "Artisticworks", "AWS")</li>
                        </ul>

                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown nat">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">展覽專區<strong class="caret"></strong></a>
                                <ul class="dropdown-menu ">
                                    <li>@Html.ActionLink("展覽快訊", "ExhibitionNews", "EX")</li>
                                    <li>@Html.ActionLink("展覽回顧", "ExhibitionOld", "EX")</li>
                                </ul>
                            </li>
                        </ul>

                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown nat">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">最新消息<strong class="caret"></strong></a>
                                <ul class="dropdown-menu ">
                                    <li>@Html.ActionLink("最新活動消息", "LatestActivityNews", "LN")</li>
                                    <li>@Html.ActionLink("得獎事蹟", "Award", "LN")</li>
                                    <li>@Html.ActionLink("媒體報導", "MediaReports", "LN")</li>
                                </ul>
                            </li>
                        </ul>

                        <ul class="nav navbar-nav navbar-right">
                            <li class="nat">@Html.ActionLink("會員簡介", "Member", "MEM")</li>
                        </ul>

                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown nat">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">關於學會<strong class="caret"></strong></a>
                                <ul class="dropdown-menu ">
                                    <li>@Html.ActionLink("設立沿革", "AssociationHistory", "AA")</li>
                                    <li>@Html.ActionLink("學會大事跡", "AssociationEvent", "AA")</li>
                                    <li>@Html.ActionLink("學會組織", "AssociationOrganization", "AA")</li>
                                    <li>@Html.ActionLink("入會申請", "AssociationApplication", "AA")</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div><!-- nav -->
    </div>
    <div id="id_footer">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year MAAK</p>
        </footer>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>